<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.deskie.sysserver.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="cn.deskie.sysentity.entity.Menu">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="menu_level" jdbcType="INTEGER" property="menuLevel" />
    <result column="menu_type" jdbcType="VARCHAR" property="menuType" />
    <result column="menu_desc" jdbcType="VARCHAR" property="menuDesc" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="add_person" jdbcType="VARCHAR" property="addPerson" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_person" jdbcType="VARCHAR" property="updatePerson" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="cn.deskie.sysentity.entity.Menu">
    insert into menu (id, menu_name, parent_id, 
      menu_url, menu_level, menu_type, 
      menu_desc, sort, remark, 
      add_person, add_time, update_person, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{menuLevel,jdbcType=INTEGER}, #{menuType,jdbcType=VARCHAR}, 
      #{menuDesc,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{addPerson,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.deskie.sysentity.entity.Menu">
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
      <if test="menuLevel != null">
        menu_level,
      </if>
      <if test="menuType != null">
        menu_type,
      </if>
      <if test="menuDesc != null">
        menu_desc,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="addPerson != null">
        add_person,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updatePerson != null">
        update_person,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null">
        #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="menuDesc != null">
        #{menuDesc,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addPerson != null">
        #{addPerson,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null">
        #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>